page-accueil {
    .scroll-content {
        background-color: lightgrey;
        color: #282828;
    }
    #profile {
        width: 70%;
        margin: 10px auto;
        text-align: center;
    }
    #todo h4 {
        color: lightgrey;
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
    }
    #todo ion-card {
        width: 90%;
        margin: 5rem;
        padding: 3rem;
    }
    #logout {
        padding: 3rem;
        width: 50%;
        margin: 200px auto;
    }
}