<ion-header>
    <ion-navbar>
        <ion-title>Accueil</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!-- <ion-img src="../../assets/img/logo.svg" alt="logo Etcheverry Hariscain Transports" id="logo" width="275" height="100"></ion-img> -->


    <ion-list id="addObject">

      <!-- User est chargé en asynchrone, on attend le flag -->
      <div *ngIf="profileLoaded">
        <h2>Bienvenue {{ user.username }}</h2>
      </div>

      <!-- Lors que User n'est pas chargé -->
      <div *ngIf="!profileLoaded">
        <h2>Chargement ...</h2>
      </div>

    </ion-list>

</ion-content>
