page-home {
    ion-title {
        text-align: center;
    }
    .scroll-content {
        background-color: lightgrey;
        color: #282828;
    }
    #logo {
        display: block;
        margin: 30px auto;
    }
    #connect {
        width: 50%;
        margin: 70px auto 0;
    }
}