<ion-header>
    <ion-navbar>
        <ion-title>Inventaire</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Afficher les bons de livraison :</h2>

    <div *ngIf="!inventaireLoaded">
        <h2 id="loader">Chargement ...</h2>
    </div>

    <div *ngIf="inventaireLoaded">
        <ul id="listeMarchandise">
            <li *ngFor="let marchandise of marchandise | async">

                <!-- reference article -->
                <div class="ref">
                    référence : {{ marchandise.reference }}
                </div>

                <!-- fiche article -->
                <div class="fiche">
                    désignation : <span class="result">{{ marchandise.designation }}</span>
                </div>
                <div class="fiche">
                    quantité : <span class="result">{{ marchandise.quantite }}</span>
                </div>
                <div class="fiche">
                    poids (en kg) : <span class="result">{{ marchandise.poids }}</span>
                </div>
                <div class="fiche">
                    prix TTC (en €): <span class="result">{{ marchandise.prix }}</span>
                </div>
                <div class="fiche">
                    expéditeur : <span class="result">{{ marchandise.expediteur }}</span>
                </div>
                <div class="fiche">
                    destinataire : <span class="result">{{ marchandise.destinataire }}</span>
                </div>
            </li>
        </ul>
    </div>





</ion-content>