<ion-header>
    <ion-navbar>
        <ion-title>Inventaire</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Afficher les bons de livraison :</h2>

    <div *ngIf="!inventaireLoaded">
        <h2 id="loader">Chargement ...</h2>
    </div>

    <div *ngIf="inventaireLoaded">
        <ul id="listeMarchandise">
            <li *ngFor="let marchandise of marchandise | async">
                <div>
                    référence : {{ marchandise.reference }}
                </div>
                <div>
                    désignation : {{ marchandise.designation }}
                </div>
                <div>
                    quantité : {{ marchandise.quantite }}
                </div>
                <div>
                    poids (en kg) : {{ marchandise.poids }}
                </div>
                <div>
                    prix TTC (en €): {{ marchandise.prix }}
                </div>
                <div>
                    expéditeur : {{ marchandise.expediteur }}
                </div>
                <div>
                    destinataire : {{ marchandise.destinataire }}
                </div>
            </li>
        </ul>
    </div>





</ion-content>