page-inventaire {
    .scroll-content {
        background-color: lightgrey;
        color: #282828;
    }
    ion-title {
        text-align: center;
    }
    #listeMarchandise li {
        display: inline-block;
        width: 30%;
        font-size: 1.8rem;
        list-style-type: none;
        /* padding: 1.5rem; */
        margin: 1.5rem;
        background-color: white;
        /* border: 2px solid black; */
    }
    #listeMarchandise .ref {
        background-color: #2271ea;
        color: white;
        padding: 1rem;
        margin-bottom: 1rem;
        /* padding-right: 1rem; */
    }
    #listeMarchandise .fiche {
        padding: 1rem;
    }
    #listeMarchandise .result {
        display: block;
        float: right;
        font-size: 2rem;
        font-weight: bold;
    }
}