client-search {
    #title {
        text-transform: capitalize;
        text-align: center;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    #name {
        padding-left: 2rem;
        text-transform: lowercase;
        text-transform: capitalize;
    }
    #ville {
        text-transform: lowercase;
        text-transform: capitalize;
        padding-right: 2rem;
        float: right;
        padding-top: 10px;
        font-style: italic;
        font-size: 1.2rem;
    }
}