service-loader {
    #loader {
        width: 500px;
        height: 200px;
        margin: 200px auto;
        margin-bottom: 600px;
        background-color: rgba(40, 40, 40, .6);
        h2 {
            text-align: center;
            color: white;
            font-size: 3rem;
            padding-top: 50px;
        }
        img {
            display: block;
            margin: 2rem auto;
        }
    }
}