page-echange {
    .scroll-content {
        background-color: lightgrey;
        color: #282828;
    }
    li {
        list-style-type: none;
    }
    .button-block-md {
        width: 90%;
        margin-left: 4rem;
    }
}