<ion-header>
    <ion-navbar>
        <ion-title>Valider les échanges</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row id="title" class="row">
        <ion-col col-2>
            <ion-item>
                <h3 class="title">Chauffeur</h3>
            </ion-item>
        </ion-col>
        <ion-col col-7>
            <ion-item>
                <h3 class="title">Destinataire</h3>
            </ion-item>
        </ion-col>
        <ion-col col-1>
            <ion-item>
                <h3 class="title">Qté</h3>
            </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item>
                <h3 class="title">Annuler / Valider</h3>
            </ion-item>
        </ion-col>
    </ion-row>
    <ul>
        <li *ngFor="let marchandis of marchandise | async">
            <ion-row *ngIf="marchandis.echange && marchandis.delivered === false" class="row">
                <ion-col col-2>
                    <ion-item class="name">
                        {{ marchandis.echange.name }}
                        <img (click)="echanger(marchandis.$key)" src="assets/img/modifier.svg" alt="modifier" width="30" height="30" class="right">
                    </ion-item>
                </ion-col>
                <ion-col col-7>
                    <ion-item>
                        <span class="name">
                            {{ marchandis.destinataire.name }}, 
                        </span>
                        <span class="ville">
                            {{ marchandis.destinataire.adresse }}, 
                            {{ marchandis.destinataire.ville }}
                        </span>
                    </ion-item>
                </ion-col>
                <ion-col col-1>
                    <ion-item>
                        {{ marchandis.quantite }}
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="action">
                    <ion-item>
                        <ion-col>
                            <img (click)="annuler(marchandis.$key)" src="assets/img/annuler.svg" alt="annuler" width="30" height="30" class="left">
                        </ion-col>
                        <ion-col>
                            <img (click)="confirmValider(marchandis)" src="assets/img/checked.svg" alt="échanger" width="30" height="30" class="right">
                        </ion-col>
                    </ion-item>
                </ion-col>
            </ion-row>
        </li>
    </ul>

    <div>
        <button ion-button block (click)="validateAll(marchandise)">Valider tous les échanges</button>
    </div>

</ion-content>