page-ramassage {
    .scroll-content {
        background-color: lightgrey;
        color: #282828;
        width: 100%;
    }
    ion-title {
        text-align: center;
    }
    #form {
        width: 70%;
        margin: 2rem auto;
    }
    .item input .text {
        text-transform: capitalize;
        text-align: right
    }
}